<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.orf/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<title>Note List</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/> 
</head>
<body>
	<h1>Note Pad</h1>
	
	<div class="col-md-3">
		<h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-1">
		<a th:href="@{/add}" class="btn btn-success">Add</a>	
	</div>
	<div class="col-md-1">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div >
	<div sec:authorize="hasAuthority('ADMIN')" class="col-md-1" th:switch="${adminView}">
		 <a th:case="false" th:href="@{/admin}" class="btn btn-warning">Admin superview</a>
		 <a th:case="true" th:href="@{/notelist}" class="btn btn-warning">Normal view</a>
		 
	</div>

	<table class="table table-striped">
		<tr>
		    <th>Title</th>
		    <th>Note</th>
		    <th>Author</th>
		    <th>Date created</th>
		    <th>Date Updated</th>
		    <th></th>
		    <th></th>	    
		</tr>  
    	<tr th:each = "note : ${notes}">
    		<td th:text="${note.getTitle()}"></td>
    		<td th:text="${note.getContent()}"></td>
    		<td th:text="${note.getOwner().getUsername()}"></td>
    		<td th:text="${note.getCreatedDate()}"></td>
    		<td th:text="${note.getUpdatedAt()}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')">
 				<a th:href="@{/delete/{id}(id=${note.getId()})}" class="btn btn-danger">Delete</a>
 			</td>
 			<td><a th:href="@{/edit/{id}(id=${note.getId()})}" class="btn btn-danger">Edit</a></td>   
 			   
    	</tr>
     </table>
	<p>
	</p>
</body>
</html>